{% extends "shop/base.html" %}

{% block title %}Payment successful{% endblock %}

{% block content %}

    <h1>Your payment was successful</h1>
    <p>Your payment has been processed successfully.</p>
    
{% endblock %}